@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/*=====================================================header=================================================*/
header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  flex-wrap: wrap;
}
header img {
  padding: 0 10px;
}
/*----------------------------------------------navigation class inscription------------------------------------*/
.inscription {
  padding: 0 10px;
  font-weight: bold;
  color: #0065fc;
  text-decoration: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.inscription:hover {
  border-bottom: 3px solid #0065fc;
  cursor: pointer;
}
/*------------------------------------------naviguation  id onglet----------------------------------------------*/
nav {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
}
nav .sousmenu {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  text-decoration: none;
  color: black;
}
.sousmenu {
  display: block;
  padding: 2em;
  border-bottom: 3px solid lightgrey;
  border-top: 3px solid transparent;
}
.sousmenu:hover {
  border-bottom: 3px solid #0065fc;
  cursor: pointer;
}
/*------------------------------------ header responsive------------------------------------------------------------------------*/
@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header img {
    position: absolute;
    left: 0;
    order: -2;
  }
  nav {
    flex-basis: auto;
    order: -1;
  }
  .inscription {
    display: flex;
    padding: 2em;
  }
  .inscription:hover {
    border-bottom: 3px solid transparent;
    border-top: 3px solid #0065fc;
  }
  .sousmenu {
    border-bottom: 3px solid transparent;
  }
  .sousmenu:hover {
    border-bottom: 3px solid transparent;
    border-top: 3px solid #0065fc;
  }
}

/*=================================================section=============================================================*/
.section {
  padding: 2em;
}
/*--------------------------------------------------presentation-----------------------------------------------------*/
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  padding: 1em;
}
.presentation p {
  padding-top: 1em;
}

/*-------------------------------------------------rechercher---------------------------------------------*/
.rechercher {
  display: flex;
  justify-content: center;
}
.location {
  padding: 1.2em;
  background-color: lightgrey;
  border-radius: 1em 0 0 1em;
}
.rechercher input {
  border: 1px solid lightgrey;
  font-weight: bold;
  padding-left: 1em;
  width: 260px;
}
.rechercher button {
  padding: 1.5em;
  border-radius: 1em;
  background-color: #0065fc;
  color: white;
  border: 1px solid transparent;
  margin-left: -10px;
}
.rechercher button:hover {
  transform: scale(1.05);
  background-color: #0065fc;
  cursor: pointer;
}
.rechercher .search {
  display: none;
}
/*----------------------- section responsive---------------------------------------------------------------------*/
@media (min-width: 768px) {
  .presentation {
    align-items: flex-start;
  }
  .rechercher {
    justify-content: flex-start;
    padding-left: 1em;
  }
  .rechercher input {
    width: 300px;
  }
  .rechercher .search {
    display: initial;
  }
  .fas.fa-search {
    display: none;
  }
  .rechercher button {
    border-radius: 0px 10px 10px 0px;
    margin: 0px;
  }
  .rechercher button:hover {
    opacity: 0.8;
  }
}

/*------------------------------------------------------options---------------------------------------------------------------*/

.options {
  margin: 1em;
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
}
.options h1 {
  display: flex;
}

.options span {
  font-weight: bold;
  padding-left: 10px;
}
.options span:hover {
  text-decoration: bold;
}
.listefiltres {
  display: flex;
  flex-direction: column;
}

.filtres {
  display: flex;
  align-items: center;
  margin: 1em 0 0 0;
  border: 2px solid lightgrey;
  border-radius: 20px;
  width: 210px;
  height: 45px;
}
.filtres:hover {
  background-color: rgb(241, 239, 239);
  transform: scale(1.02);
  cursor: pointer;
}
.filtres .fas {
  background-color: #deebff;
  padding: 15px;
  border-radius: 50%;
  color: #0065fc;
  margin: -3px;
}

.information {
  display: flex;
  align-items: center;
  margin-top: 2em;
  padding: 10px;
}
.fas.fa-info {
  border: 1px solid lightgrey;
  padding: 5px 10px;
  border-radius: 50%;
  color: #0065fc;
}
/*---------------------------------------options responsive------------------------------------------*/

@media (min-width: 768px) {
  .options {
    justify-content: flex-start;
  }
  .sousoptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin-right: 100%;
  }
  .listefiltres {
    display: flex;
    flex-direction: row;
  }
  .options h1 {
    display: flex;
    align-items: center;
  }
  .filtres {
    padding: 3px 0;
    border-radius: 40px;
    margin-left: 1em;
  }
  .filtres .fas {
    padding: 16px;
  }
  @media (min-width: 1024px) {
    .filtre1 {
      display: flex;
    }
    .filtre2 {
      display: flex;
    }
  }
}
/*========================================================================section2================================================================*/

/*-----------------------------------------------------------------id populaires-------------------*/
#populaires {
  background-color: #f2f2f2;
  gap: 1em;
}
.populairesicone {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.populairesbloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 1em;
}
.populairesbloc .populairesphotos:hover {
  transform: scale(1.04);
}

.populairesphotos {
  border: 5px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  width: 100%;
  margin: 1em;
  background-color: white;

  box-shadow: 0px 10px 10px grey;
}
.populairesphotos :hover {
  cursor: pointer;
}
.populairesphotos img {
  width: 50px;
  height: 150px;
  border-radius: 20px 0 0 20px;
  flex-basis: 50%;
  object-fit: cover;
}
.description {
  padding: 1em;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  flex-basis: 50%;
  max-height: 150px;
}
.etoile {
  padding-top: 1em;
}
.fas.fa-star.blue {
  color: #0065fc;
}
.fas.fa-star.grey {
  color: lightgrey;
}

/*------------------------------------------------------id hebergements------------------------------------------------------------------------*/

#hebergements {
  background-color: #f2f2f2;
}
#hebergements h3 {
  padding: 1em;
}
.hebergementsbloc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 15px;
  gap: 1em;
}
.hebergementsphotos {
  border: 5px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 450px;
  background-color: white;
  box-shadow: 0px 10px 10px lightgrey;
}
.hebergementsbloc .hebergementsphotos:hover {
  transform: scale(1.04);
}

.hebergementsphotos img {
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.hebergementsphotostexte {
  padding: 1em;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
#hebergements a {
  margin-top: 1em;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 1em;
  display: inline-block;
}
#hebergements a:hover {
  transform: scale(1.05);
  text-decoration: underline;
  color: #0065fc;
}

/*-------------------------------section2 responsive--------------------------*/
@media (min-width: 1024px) {
  .section2 {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-between;
    width: 100%;
  }
  #hebergements {
    border-radius: 20px;
    flex-basis: 66%;
  }
  .hebergementsbloc {
    display: flex;
    height: 500px;
  }
  .hebergementsphotos {
    flex-basis: 30%;
    width: 250px;
  }
  .hebergementsphotos img {
    height: 125px;
  }
  #hebergements h3 {
    padding: 1em 2em;
  }
  #hebergements a {
    padding-left: 2em;
    margin-top: 2em;
  }
  #populaires {
    order: 1;
    border-radius: 20px;
    flex-basis: 30%;
  }
  .populairesicone {
    padding: 1em 2em;
  }
  .populairesphotos {
    width: 250px;
  }
  .activitesbloc {
    width: 400px;
  }
  .activitesblocimg {
    width: 230px;
  }
}
@media (min-width: 768px) {
  #populaires {
    margin-top: 2em;
    width: 100%;
    margin: auto;
  }
  .hebergementsphotos img {
  }

  .hebergementsbloc {
    width: 100%;
  }
}
/*--------------------------------------section2 responsive fin------------------------*/

/*========================================================activités=================================================================================*/

.activitesbloc {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f2f2f2;
}
#activites h3 {
  display: flex;
  padding: 1em;
  background-color: #f2f2f2;
}
/*-------------------------------------------------------activitesphotos1-------------------------------------------------------------------------------*/
.activitesphotos1 {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-width: 350px;

  margin-top: 1em;
  background-color: white;
  box-shadow: 0px 10px 10px lightgrey;
}
.activitesphotos1 img {
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.activitesphotos1 h4 {
  padding: 1em;
  font-size: 15px;
}
.activitessousmenu .activitesphotos1:hover {
  transform: scale(1.04);
}

/*---------------------------------------------------------------activitesphotos2-------------------------------------------------------------------------*/

.activitesphotos2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activitesblocimg {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 350px;

  margin: 1em;
  background-color: white;
  box-shadow: 0px 10px 10px lightgrey;
}
.activitesblocimg img {
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.activitesblocimg h4 {
  padding: 1em;
  font-size: 15px;
}
.activitessousmenu .activitesblocimg:hover {
  transform: scale(1.04);
}

/*---------------------------------------------------------#activités responsive-------------------------------------------------------------------*/

@media (min-width: 768px) {
  #activites {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
  }
  #activites h3 {
    background-color: white;
    padding: 2em 0 0 2em;
  }
  .activitessousmenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .activitesbloc {
    display: flex;
    flex-direction: row;

    flex-basis: 50%;
    background-color: white;
  }
  .activitesphotos1 {
    flex-basis: 50%;

    min-width: 250px;
    padding: 1em O;
  }

  .activitesphotos1 img {
    height: 500px;
  }
  .activitesphotos2 {
    margin-top: 1em;
    margin-left: 1em;
  }
  .activitesphotos2 img {
    height: 210px;
  }
  @media (min-width: 1024px) {
    #activites {
      padding: 1em;
    }

    .activitesblocimg {
      width: 220px;
    }
    .activitesphotos1 {
      min-width: 200px;
    }
    .activitesblocimg {
      min-width: 200px;
    }
  }
}

/*----------------------------------------------------------------footer----------------------------------------------------------------------------*/

footer {
  width: 100%;
  margin: 1em;
}
.pieddepage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1em 0 0 1em;
}

.pieddepage a {
  margin-top: 1em;
  text-decoration: none;
  color: black;
}
.pieddepage a:hover {
  font-weight: bold;
}
/*----------------------------------footer responsive-------------------------------------------------*/
@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    margin: 0;
  }
  .pieddepage {
    margin: 0;
  }
  .pieddepage a {
    font-size: 14px;
    letter-spacing: 0.235px;
  }
  a:hover {
    font-weight: bold;
    letter-spacing: 0;
  }
}
