@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/*=====================================================header=================================================*/
.entete {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
}
.logo {
  margin-left: 20px;
}
/*------------------------------responsive--------------------------------*/
@media (min-width: 1024px) {
  .logo {
    padding: 0 16px;
    margin-left: 5px;
  }
}
/*----------------------------------------------inscription------------------------------------*/
.inscription {
  font-weight: bold;
  color: #0065fc;
  text-decoration: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin-right: 20px;
}
.inscription:hover {
  border-bottom: 3px solid #0065fc;
  cursor: pointer;
}
/*------------------------------------------navigation  ----------------------------------------------*/
.navigation {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
}
.sousmenu {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  text-decoration: none;
  color: black;
}
.sousmenu {
  display: block;
  padding: 2em;
  border-bottom: 3px solid lightgrey;
  border-top: 3px solid transparent;
}
.sousmenu:hover {
  border-bottom: 3px solid #0065fc;
  cursor: pointer;
}
/*------------------------------------ header responsive------------------------------------------*/
@media (min-width: 768px) {
  .entete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .logo {
    position: absolute;
    left: 0;
    order: -2;
  }
  .navigation {
    flex-basis: auto;
    order: -1;
  }
  .inscription {
    display: flex;
    padding: 2em;
  }
  .inscription:hover {
    border-bottom: 3px solid transparent;
    border-top: 3px solid #0065fc;
  }
  .sousmenu {
    border-bottom: 3px solid transparent;
  }
  .sousmenu:hover {
    border-bottom: 3px solid transparent;
    border-top: 3px solid #0065fc;
  }
}

/*=================================================main=============================================================*/
.main {
  padding: 1em;
}
/*------------------------------------presentation---------------------------------*/
.presentation {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.presentation-p {
  padding-top: 1em;
}
.presentation-h1 {
  font-weight: 800;
  margin-top: 1em;
}

/*---------------------------------rechercher---------------------------------------------*/
form.location {
  display: flex;
  align-items: center;
  margin-top: 2em;
}
.fas.fa-map-marker-alt {
  font-size: 20px;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  background-color: lightgrey;
}
#map {
  padding: 12px;
  border: 1px solid lightgrey;
  font-weight: bold;
  padding-left: 10px;
  min-width: 220px;
  font-size: 20px;
}
.bouton {
  padding: 17px;
  border-radius: 1em;
  background-color: #0065fc;
  color: white;
  border: 1px solid transparent;
  margin-left: -10px;
}
.bouton:hover {
  transform: scale(1.05);
  background-color: #0065fc;
  cursor: pointer;
}
.search {
  display: none;
}

/*-----------------------responsive-------------------------------------------*/
@media (min-width: 768px) {
  .presentation h1 {
    margin-top: 0;
  }
  form.location {
    justify-content: flex-start;
  }

  .search {
    display: initial;
    font-weight: bold;
    font-size: 18px;
  }
  .fas.fa-search {
    display: none;
  }
  .bouton {
    border-radius: 0px 10px 10px 0px;
    padding: 14px;
  }
  .bouton:hover {
    opacity: 0.8;
  }
}

/*------------------------------------------------------options---------------------------------------------------------------*/

.options {
  margin: 2em 0;
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
}
.options-h1 {
  font-size: 20px;
  display: flex;
}

.filtres-menu {
  font-weight: bold;
  padding: 20px;
}
.filtres-menu:hover {
  text-decoration: bold;
}
.listefiltres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.filtres {
  display: flex;
  align-items: center;
  margin: 5px;
  border: 2px solid lightgrey;
  border-radius: 20px;
  height: 45px;
}
.filtres:hover {
  background-color: rgb(241, 239, 239);
  transform: scale(1.02);
  cursor: pointer;
}
.filtres .fas {
  background-color: #deebff;
  padding: 15px;
  border-radius: 50%;
  color: #0065fc;
  margin: -3px;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 1em;
}
.info p {
  padding-left: 15px;
}
.fas.fa-info {
  border: 1px solid lightgrey;
  padding: 5px 10px;
  border-radius: 50%;
  color: #0065fc;
}
/*---------------------------------------options responsive------------------------------------------*/

@media (min-width: 768px) {
  .options {
    justify-content: flex-start;
  }
  .sousoptions {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  .listefiltres {
    display: flex;
    flex-direction: row;
  }

  .options-h1 {
    display: flex;
    align-items: center;
  }
  .filtres {
    padding: 3px 0;
    border-radius: 40px;
  }
  .filtres .fas {
    padding: 16px;
  }
}
@media (min-width: 1024px) {
  .liste {
    display: flex;
    margin-right: 0;
  }
  .sousoptions {
    flex-wrap: nowrap;
  }
  .options-h1 {
    margin-top: 15px;
  }
  .filtres {
    margin-left: 10px;
  }
}

/*======================================================section1===========================================*/

/*-----------------------------------------------------------------populaires-------------------*/
#populaires {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;

  padding: 1em;
}
.populaires-titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fas.fa-chart-line {
  font-size: 25px;
}

.populaires-photos:hover {
  transform: scale(1.04);
}

.populaires-photos {
  border: 5px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  background-color: white;
  box-shadow: 0px 10px 10px lightgrey;
}
.populaires-photos :hover {
  cursor: pointer;
}
.populaires-photos img {
  width: 50px;
  height: 150px;
  border-radius: 20px 0 0 20px;
  flex-basis: 50%;
  object-fit: cover;
}
.description {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  max-height: 150px;
  position: relative;
}
.description p {
  margin-top: 5px;
}
.etoile {
  padding-top: 1em;
  position: absolute;
  bottom: 0;
}
.fas.fa-star.blue {
  color: #0065fc;
}
.fas.fa-star.grey {
  color: lightgrey;
}
/*--------------------------------responsive----------------------*/
@media (min-width: 768px) {
  #populaires {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  #populaires {
    order: 1;
    border-radius: 20px;
    flex-basis: 30%;
  }

  .populaires-photos img {
    height: 140px;
  }
  .populaires-photos {
    min-width: 250px;
    margin-top: 2em;
  }
}
/*-------------------------------hebergements------------------------------------------------*/

#hebergements {
  background-color: white;
  padding: 1em;
}

.hebergements-bloc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 15px;
  padding-top: 1em;
}
.hebergements-photos {
  border: 5px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  box-shadow: 0px 10px 10px lightgrey;
  margin-top: 2em;
}
.hebergements-bloc .hebergements-photos:hover {
  transform: scale(1.04);
}

.hebergements-photos img {
  height: 120px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

#hebergements a {
  margin-top: 2em;
  text-decoration: none;
  color: black;
  font-weight: bold;

  display: inline-block;
}
#hebergements a:hover {
  transform: scale(1.05);
  text-decoration: underline;
  color: #0065fc;
}
.description2 {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  max-height: 150px;
  gap: 1em;
}

/*-------------------------------section1 responsive--------------------------*/
@media (min-width: 768px) {
  #hebergements {
    background-color: white;
  }

  .hebergements-bloc {
    width: 100%;
  }
  .hebergements-photos img {
    height: 140px;
  }
  #hebergements a {
    margin-top: 2em;
  }
}
@media (min-width: 1024px) {
  .section1 {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-between;
    width: 100%;
  }
  #hebergements {
    background-color: #f2f2f2;
    border-radius: 20px;
    flex-basis: 66%;
  }
  .hebergements-bloc {
    display: flex;
    height: 500px;
  }
  .hebergements-photos {
    flex-basis: 30%;
    width: 250px;
    margin-top: 0;
  }
  .hebergements-photos img {
    height: 125px;
    width: 100%;
  }
  #hebergements h3 {
    padding: 1em 2em;
  }
  #hebergements h3 {
    padding: 0;
  }
  .description {
    font-size: 10px;
    padding-top: 10px;
  }
  .description2 {
    font-size: 10px;
    padding-top: 10px;
  }
}

/*========================================================section2=================================================================================*/
#section2 {
  padding: 1em;
}
#section2 h2 {
  margin: 1em 0;
}
.activites-bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.colonne {
  width: 100%;
}
.bloc-photo {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 7px 10px lightgrey;
  margin-top: 20px;
}
.bloc-photo:hover {
  transform: scale(1.04);
}
.bloc-photo h4 {
  padding: 20px;
}
.bloc-photo-medium img {
  height: 400px;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.bloc-photo-small img {
  height: 150px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
@media (min-width: 1024px) {
  #section2 {
    padding: 2em;
  }
  .activites-bloc {
    flex-direction: row;
    justify-content: space-between;
  }

  .colonne {
    display: flex;
    height: 500px;
    width: 220px;
  }
  .colonne img {
    max-width: 100%;
  }
  .colonne-x2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bloc-photo-medium img {
    height: 410px;
  }
  .bloc-photo-small img {
    height: 156px;
    width: 100%;
  }
}

/*=================================================footer==================================================================*/

.footer {
  width: 100%;
  padding-top: 10px;
  background-color: #dddd;
  padding: 2em 1em;
}
.pieddepage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2em;
}

.pieddepage a {
  margin-top: 1em;
  text-decoration: none;
  color: black;
}
.pieddepage a:hover {
  font-weight: bold;
}
.footer-titre {
  font-weight: bold;
}
/*----------------------------------footer responsive-------------------------------------------------*/
@media (min-width: 768px) {
  .footer {
    display: flex;
    padding-top: 2em;
  }
  .pieddepage {
    margin-right: auto;
    padding: 2em;
  }
  .pieddepage a {
    font-size: 14px;
    letter-spacing: 0.235px;
  }
  a:hover {
    font-weight: bold;
    letter-spacing: 0;
  }
}
