@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
header nav a{
    color:black;
    text-decoration:none; 
    border-top:2px solid transparent;
}
header nav a:hover{
    border-top:2px solid #0065fc;
}
header nav{
   
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
header nav #logo{
    margin-right:auto;
    padding:0 20px 0 20px; 
}
header nav a{
    padding:2em;
}
header nav .inscription {
    font-weight: bold;
    border-bottom: 2px solid transparent;
}
header nav .sousmenu{
   
    display: flex;
}

@media (max-width:800px){
header nav .sousmenu{
    order:1;
    flex-basis:100%;
}
header nav .sousmenu a{
    text-align:center;
  border-bottom: 2px solid grey;
    flex-basis: 50%;
}
header nav a:hover{
    border-bottom: 2px solid #0065fc;
    border-top-color:transparent;
}
}








header section #location .box{
  
   display:flex;
  flex-wrap: wrap;
   align-items: center;
   height:40px;
}
header section #location .box i{
    
   
    display:flex; 
    width:40px;
    height:40px;
    padding-left: 14px;
    padding-top: 12px;
    background-color: rgb(165, 165, 165);
    border-radius: 5px 0 0 5px;
  
}
header section #location .box .champ{
    border-left-style: none;
    border-right-style:none;
    border-top-width: 1px;
    border-bottom-width:1px;
    border-color:rgb(133, 151, 160);
    height:40px; 
    font-weight: bold;
}

header section #location .box button{
    height:40px;
    border:1px solid #0065fc;
    border-radius : 0 5px 5px 0;
    background-color: #0065fc;
    font-weight: bold;
    color:white;

}
header section #filtre p{
    font-weight: bold;
}
header section #filtre{
    margin-top: 20px;
    display:flex;
  
     
}
header section #filtre .case button{
    display:flex;
    width:160px;
    justify-content: space-between;
    align-items: center;
    height:40px;
    border-radius:20px;
    margin-right: 10px;
}
header section #filtre .case button .icone{
  
    border-radius:50%;
   background-color:#DEEBFF ;
   color:#0065fc;
    font-size: 16px;
    padding:10px;
    width: 30%;
    position:absolute;
    left:0;
    
   
}
header section #filtre .case{
    display:flex;
   position:relative;
}



