@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
nav img {
  padding: 0 10px;
}
.inscription {
  padding: 0 10px;
  font-weight: bold;
  color: #0065fc;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.inscription:hover {
  border-bottom: 3px solid #0065fc;
}
#onglets {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
}
#onglets .sousmenu {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  text-decoration: none;
  color: black;
}
.sousmenu {
  display: block;
  padding: 2em;
  border-bottom: 3px solid lightgrey;
}
.sousmenu:hover {
  border-bottom: 3px solid #0065fc;
}
/*nav fini*/

.presentation {
  padding: 1em;
}
.presentation p {
  padding: 1em 1em 1em 0;
}
.rechercher {
  display: flex;
  justify-content: center;
}
.location {
  padding: 1.2em;
  background-color: lightgrey;
  border-radius: 1em 0 0 1em;
}
.rechercher input {
  border: 1px solid lightgrey;
  font-weight: bold;
  padding-left: 1em;
}
.rechercher button {
  padding: 1.5em;
  border-radius: 1em;
  background-color: #0065fc;
  color: white;
  border: 1px solid transparent;
}
